
table{
	border: 2px solid black;
	padding: 2px;
	border-collapse:collapse;
}
tr,td {
	border: 2px solid black;
	width: 250px;
}
header{
	text-align:center;
}
table tr td:nth-child(2),
table tr th:nth-child(2) {
  text-align: center;
}
table tr td:nth-child(3),
table tr th:nth-child(3) {
  text-align: right;
}

