
 table {
            border: 1px solid black;
            border-spacing: 1px;
            padding: 1px;
            width: 100%;
        }
        td, th {
            border: 1px solid black;
            padding: 1px;
        }
        .middle {
            margin: 20px auto;
            width: 90%;
        }
        .center {
            text-align: center;
        }
        .right {
            text-align: right;
        }
        .green {
            background-color: green;
        }
        .blue {
            background-color: blue;
        }
